{% load static %}
<!DOCTYPE html>

<html>
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
      <!-- import fonts -->

      <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">

      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <!-- custom css -->
      {% block css %}
      {% endblock %}
            
      <!-- title-->
        <title>Jayashri's Pizza House </title>

    </head>
    <body>
      <header>
        <!-- Site LOGO -->
        <div id="site_logo">
          <a class="navbar-brand" href="{% url 'main_view' %}"> Jayashri's Pizza House  </a>
        </div>
        <!-- Navbar content -->
        <nav class="navbar">

          <!-- Navbar Right Side -->
          <div id="display_name" class="navbar-items">

            {% if user.is_authenticated %}
              <div class="user-display-area">
                <a class="nav-item nav-link" href="{% url 'orders_list'%}">Order history</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Log-out</a>
                <a class="nav-item nav-link">Hello {{ user.username }}</a>
              </div>

            {% else %}
              <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
              <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}

          </div>

        </nav>
      </header>

      <main role="main" class="main-view">
        <div class="container w3-container w3-card">
          <div class="grid-row">
            <!-- show flash messages here -->
            <div class="col-md-12">
              {% if messages %}
                {% for message in messages %}
                  {% if message.tags %}
                    <div class="alert alert-{{ message.tags }}">
                      {{ message }}
                    </div>
                  {% else %}
                    <div class="alert alert-info">
                      {{ message }}
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
            <!-- show contents here -->
              {% block body %}
              {% endblock %}
          </div>
        </div>
      </main>
      <!-- JavaScript -->
      {% block js %}
      {% endblock %}
    </body>
</html>