{% extends "layout.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock %}
</head>
{% block body %}
<div class="col-md-8">
      <div class="grid-row-2col">
        {% for food in foods %}
              <div class="card">
                <img src="{{ food.image.url }}" alt="{{ food.name }}" class="card-img">
                <div class="card-text">
                  <h5 class="card-title">{{ food.name }}</h5>
                  <ul>
                    {% for p in prices %}
                      {% if p.food_id.id == food.id %}
                          <li class="{{ p.food_id }}">{{ p }}</li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              </div>
        {% endfor %}
      </div>
    </div>

<!-- ordering form -->
<div class="col-md-3">
    <div class="ordering">
    <form class="form-control-md" action="{% url 'main_view' %}" method="post">
            {% csrf_token %}
            <!-- food selection  -->
            <legend class="plain">Start Adding food item to your cart</legend>
            <!-- food item selection of category  -->
            <fieldset class="form-field" id="foods_selector">
              <label class="field-label" for="foods_choice">Choose a Food Item</label>
              <select name="food" id="foods_choice" class="custom-select">
                  <option selected>Choose...</option>
                    {% for food in foods %}
                        <option value="{{ food.name }}">{{ food.name }}</option>
                    {% endfor %}
              </select>
            </fieldset>

            <!-- prices / size selection of food item -->
            <fieldset class="form-field" id="prices_selector">
              <label class="field-label" for="prices_choice">Choose a Size</label>
              <select name="size" id="prices_choice" class="custom-select">
              </select>
            </fieldset>
            <button type="submit" class="btn-main-lg">Add To Cart</button>
          </form>
    </div>

     <!-- shoping cart -->
    <div class="cart">
        <div class="grid-row-2col">
            {% for item in fooditems %}
              <div class="cart-items">
                  <h5 class="">{{ item.food_id }}</h5>
                  <span class="item-price">${{ item.food_price.price }}</span> -
                  <span class="item-price">{{ item.food_price.size }}</span>
              </div>
            <hr>
            {% endfor %}
        </div>

        <div class="total">
            <span>Total (USD)</span>
            {{ total }}
        </div>
        <br>
    </div>
    <form class="" action="{% url 'order_confirmation' %}" method="post">
        {% csrf_token %}
        <button type="submit" class=" btn-main-lg bg-color-red">Add Address</button>
    </form>
    <form class="" action="{% url 'main_view' %}" method="post">
        {% csrf_token %}
        <button type="submit" id="place_order" class=" btn-main-lg bg-color-red">Confirm The Payment</button>
    </form>
</div>

{% endblock %}

{% block js %}
  <script src="{% static 'main.js' %}"></script>
{% endblock %}