{% extends "layout.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock %}

{% block body %}
  <div class="col-md-6-center">
    <div class="receipt">
            <legend>Order History</legend>
      {% csrf_token %}
      {% for order in posted_orders %}
        <div class="receipt-item">
          <a class="receipt-item-price" href="{% url 'order' order.id %}">Order ID {{order.id}}$</a>
        </div>
        <hr>
      {% endfor %}
    </div>
  </div>
{% endblock %}
