{% extends "layout.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock %}

{% block body %}
  <div class="col-md-6-center">
    <div class="receipt">
      <legend>Order NO {{ posted_order.id }}
        <br>
        <span class="badge badge-small">Status: {{ posted_order.get_status_display }}</span>
        <br>
        <span class="badge badge-small">Contains: {{fooditems|length}} Food Items</span>
      </legend>
      <br>
      {% csrf_token %}
      {% for item in fooditems %}
        <div class="receipt-item">{{ item.food_id }}
          <span class="receipt-item-price">{{ item.food_price.price }}$</span>
        </div>
        <div class="">
          <span>Total (USD)</span>
          <strong>{{ total }}</strong>
        </div>
        <hr>
      {% endfor %}

    </div>
  </div>
{% endblock %}