{% extends "layout.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock %}

{% block body %}
  <div class="col-md-6-center">
    <div class="form-control-lg">
      <h3>Order Number - {{ posted_order.id }}
        <br>
        <span class="badge badge-small">Status: {{ posted_order.get_status_display }}</span>
        <br>
        <span class="badge badge-small">Item/s: {{fooditems|length}}</span>
      </h3>
      <br>
      {% for item in fooditems %}
        <div class="receipt-item">
          {{ item.food_id }}
          <span class="receipt-item-price"><strong>{{ item.food_price.price }}</strong> $</span>
          <br>
        </div>
        <hr>
      {% endfor %}
      <span class="receipt-item-price">Delivery Charge - <strong>{{deliverycost}} $</strong></span>
      <div class="">
          <span>Total (USD)/(EUR)</span>
          <strong>{{total}} $</strong>
        </div>
    </div>
  </div>

{% endblock %}